# git rm --cached `git ls-files -i --exclude-from=.gitignore`
.DS_Store
bin
/.idea
CMakeFiles
cmake-build-debug
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
CMakeCache.txt
Testing
/Makefile
/native_test
/native_test.exe
/native_test_c
/native_test_cpp
/native.cbp
/native
/gdb.exe.stackdump
/libnative.a
/libnative_static.a
/libnative.dylib
/libnative.so
/test.o
/test.txt
/logging
/json
/native.iml
main
main.o
