# git rm --cached `git ls-files -i --exclude-from=.gitignore`
.DS_Store
bin
a.out
/.idea
CMakeFiles
cmake-build-debug
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
CMakeCache.txt
DartConfiguration.tcl
Testing
/Makefile
/native*
/native
/libnative*
/test*
main.o
main
/cygnative.dll
/native_benchmark
native_test.exe
build
