sudo: required
language: c
os:
- linux
- osx
compiler:
- gcc
before_script:
- sudo apt-get install build-essential
- wget http://www.cmake.org/files/v3.2/cmake-3.2.2.tar.gz
- tar xf cmake-3.2.2.tar.gz
- cd cmake-3.2.2
- ./configure
- make
- sudo apt-get install checkinstall
- sudo checkinstall
- cmake .
script:
- make native
- ./native